.fixed-bottom {
  position: fixed;
  bottom: 0px;
  border-top: 2px solid #555;
  width: 100%;
  z-index: 9999;
}
.a-bottom-call {
  background: #eee url(img/a-bottom-call.png) no-repeat left 10px center;
  padding-left: 52px;
  font-family: 'ALSSchlangesans', sans-serif;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #333;
  font-size: 24px;
  opacity: 0.95;
  border-right: 2px solid #555;
}
.a-bottom-whstsapp {
  background: #3ac476 url(img/a-bottom-whstsapp.png) no-repeat left 10px center;
  padding-left: 52px;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  opacity: 0.95;
  font-family: 'ALSSchlangesans', sans-serif;
}
@media screen and (min-width: 960px) {
  .fixed-bottom {
    display: none;
  }
}

@media screen and (max-width: 1182px) {
  #block-1 h1 {
    font-size: 44px;
  }
  .img-1-1 {
    width: 230% !important;
    transform: translateY(60px);
  }
  .img-2-1 img {
    width: 300px;
  }
  .img-2-2 img {
    width: 236px;
  }
  .img-2-3 img {
    width: 300px;
  }

  .text_01 {
    font-size: 30px;
  }

  .p-403 {
    font-size: 18px;
  }

  .img-6-1 {
    width: 150px;
  }
}

@media screen and (min-width: 990px) {
  .compnone {
    display: none;
  }
  #block-3-2 {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .mobnone {
    display: none;
  }

  .div-top-phone {
    width: 100%;
  }
  .logo {
    display: none;
  }

  #block-1 {
    background: #f7f7f7 url('img/header-item2.png') no-repeat right bottom /
      900px;
    height: 910px;
    position: relative;
    overflow: hidden;
  }

  .p-103 {
    display: none;
  }

  #block-1 .img-1-1 {
    display: none;
  }

  #block-1 h1 {
    font-size: 38px;
    margin-top: 25px;
    font-family: 'Forum';
    line-height: 44px;
  }
  .p-101 {
    font-size: 18px;
    padding-top: 10px;
  }

  .img-6-1 {
    width: 80px;
    position: absolute;
    right: 6px;
    top: -28px;
  }

  .div-form-1-border {
    padding-left: 0px;
    padding-right: 0px;
  }

  .img-2-1,
  .img-2-2,
  .img-2-3 {
    margin-top: 20px;
  }

  .img-2-1 img,
  .img-2-2 img,
  .img-2-3 img {
    max-width: 180px;
  }

  #block-3,
  .compnone,
  .p-405,
  .p-401,
  .p-402 {
    display: none;
  }

  #block-3-2 {
    background: #f7f7f7;
  }

  #block-3-2 .mocup-keis-img {
    margin-bottom: 1rem !important;
  }

  #block-3 {
    padding-bottom: 40px;
  }

  #block-4 {
    background: #f9f7f7;
    border-top: 1px solid #ecd0b7;
    border-bottom: 1px solid #ecd0b7;
    height: auto;
    padding-bottom: 40px;
  }

  #block-4 h2 {
    font-size: 34px;
    line-height: 46px;
    margin-top: 36px;
    margin-bottom: 30px;
    font-family: 'Forum';
  }

  #block-5 {
    position: relative;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .p-405 {
    text-align: right;
    background: url(img/strelka-mini.png) no-repeat right center;
    padding-right: 75px;
    margin-top: -33px;
    margin-right: 170px;
  }

  .p-501 ~ * {
    display: none;
  }

  .etap-1 {
    background: url(img/etap-1.png) no-repeat left top;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 160px;
  }
  .etap-2 {
    background: url(img/etap-2.png) no-repeat left top;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 160px;
  }
  .etap-3 {
    background: url(img/etap-3.png) no-repeat left top;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 160px;
  }
  .etap-4 {
    background: url(img/etap-44.png) no-repeat left top;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 160px;
  }
  .etap-5 {
    background: url(img/etap-5.png) no-repeat left top;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 160px;
  }
  .etap-6 {
    background: url(img/etap-0.png) no-repeat left top;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 160px;
  }

  .etap-1 p {
    width: 100%;
    float: right;
    text-align: left;
    padding-top: 8px;
    padding-left: 150px;
  }
  .etap-2 p {
    width: 100%;
    float: right;
    text-align: left;
    padding-top: 8px;
    padding-left: 150px;
  }
  .etap-3 p {
    width: 100%;
    float: right;
    text-align: left;
    padding-top: 8px;
    padding-left: 150px;
  }
  .etap-4 p {
    width: 100%;
    float: right;
    text-align: left;
    padding-top: 8px;
    padding-left: 150px;
  }
  .etap-5 p {
    width: 100%;
    float: right;
    text-align: left;
    padding-top: 8px;
    padding-left: 150px;
  }

  #block-9 {
    padding-top: 40px;
    background: url(img/header-item2.png) no-repeat top -50px center;
    height: 740px;
    background-position: 15% bottom;
    background-size: 100%;
  }
  .p-901 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 0px;
    font-family: 'Forum';
    font-weight: bold;
  }
  .p-902 {
    margin-top: 16px;
  }

  #block-10 {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  #block-1 {
    height: auto;
    background-size: 100%;
    padding-bottom: 65%;
  }

  #block-2 h2,
  #block-3 h2,
  #block-3-2 h2,
  #block-4 h2,
  #block-8 h2,
  #block-7 h2 {
    font-size: 28px;
    line-height: 35px;
    padding-bottom: 0px;
  }

  .img-2-1 p {
    font-size: 18px;
  }

  .img-dogovor {
    width: 50%;
    display: block;
    margin: 0 auto 20px;
  }

  .p-801 {
    font-size: 16px;
  }
  .p-801 b {
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
  }
  .p-801:last-child {
    margin-bottom: 0;
  }


  .p-901 {
    font-size: 28px;
  }

  #block-9 {
    background: #f7f7f7;
  }
  #block-10 {
    padding-bottom: 40px;
  }
  .p-601 {
    font-size: 20px;
  }
  .img-6-1 {
    right: 2px;
    top: -50px;
  }
  .btn-01 {
    min-width: 100%;
    padding: 16px;
  }
  .p-602 {
    font-size: 16px;
  }
  .p-602 a {
    font-size: 16px;
  }
  [class*="etap"] {
    background-image: none;
  }
 
  [class*="etap"]:before {
    content: "";
    background-repeat: no-repeat;
    background-size: 100px;
    height: 90px;
    display: block;
  }
  .etap-1:before {
    background-image: url('img/etap-1.png');
  }
  .etap-2:before {
    background-image: url('img/etap-2.png');
  }
  .etap-3:before {
    background-image: url('img/etap-3.png');
  }
  .etap-4:before {
    background-image: url('img/etap-44.png');
  }
  .etap-5:before {
    background-image: url('img/etap-5.png');
  }

  [class*="etap"] p {
    padding-left: 0;
    font-size: 15px;
    line-height: normal;
  }
  [class*="etap"] p b {
    display: inline-block;
    margin-bottom: 5px;
  }
  [class*="etap"] p br {
    margin-top: 5px;
  }


}
